<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3d</title>
    <link rel="icon" type="image/png" href="../assets/icon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/3dgallery.css">
</head>
<body>
    <header>
        <nav>
          <a href="../index.html" class="nlstitle">NLS</a>
          <a href="../templates/contactme.html">Contacto</a>
          <a
            href="https://www.linkedin.com/in/noelia-lago-serrano-aaa882200?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a
            href="https://www.instagram.com/noelia__lago?igsh=eTd6ZnRhaWc5ampy"
            target="_blank"
            ><i class="bi bi-instagram"></i
          ></a>
        </nav>
    </header>
    
    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="../assets/3dgallery/pared1.jpg"/>
                <img id="slide-2" src="../assets/3dgallery/pared2.jpg"/>
                <img id="slide-3" src="../assets/3dgallery/pared3.jpg"/>
                <img id="slide-4" src="../assets/3dgallery/pared4.jpg"/>
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-5" src="../assets/3dgallery/espada1.jpg"/>
                <img id="slide-6" src="../assets/3dgallery/espada2.jpg"/>
                <img id="slide-7" src="../assets/3dgallery/espada3.jpg"/>
            </div>
            <div class="slider-nav">
                <a href="#slide-5"></a>
                <a href="#slide-6"></a>
                <a href="#slide-7"></a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-8" src="../assets/3dgallery/maleta1.jpg"/>
                <img id="slide-9" src="../assets/3dgallery/maleta2.jpg"/>
                <img id="slide-10" src="../assets/3dgallery/maleta3.jpg"/>
                <img id="slide-11" src="../assets/3dgallery/maleta4.jpg"/>
                <img id="slide-12" src="../assets/3dgallery/maleta5.jpg"/>
            </div>
            <div class="slider-nav">
                <a href="#slide-8"></a>
                <a href="#slide-9"></a>
                <a href="#slide-10"></a>
                <a href="#slide-11"></a>
                <a href="#slide-12"></a>
            </div>
        </div>
    </section>
</body>
</html>