<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contáctame</title>
    <link rel="icon" type="image/png" href="../assets/icon.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/contactme.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="../index.html" class="nlstitle">NLS</a>
        <a href="./contactme.html">Contacto</a>
        <a
          href="https://www.linkedin.com/in/noelia-lago-serrano-aaa882200?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
          target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a
          href="https://www.instagram.com/noelia__lago?igsh=eTd6ZnRhaWc5ampy"
          target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
      </nav>
    </header>

    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Formación y redes</h3>
          <p class="text">
            Mi formación en animación 3D, juegos y entornos interactivos me dio
            las bases para crear mundos virtuales, mientras que mi experiencia
            en rodajes de cine me conectó con el arte de narrar historias en la
            pantalla. Hoy combino lo mejor de ambos mundos: diseño y modelo en
            3D, capto momentos a través de la fotografía y el video, y los
            fusiono con efectos visuales para construir experiencias únicas. Mi
            objetivo es dar vida a ideas que conecten emociones y realidades,
            uniendo creatividad y tecnología en cada proyecto. Puedes
            encontrarme en las siguientes redes sociales:
          </p>

          <div class="info">
            <div class="information">
              <i class="fa-brands fa-artstation"></i>
              <a href="https://www.artstation.com/noelia_lago" target="_blank">Artstation</a>
            </div>
            <div class="information">
              <i class="fa-brands fa-linkedin"></i>
              <a
                href="https://www.linkedin.com/in/noelia-lago-serrano-aaa882200?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                >Linkedin</a
              >
            </div>
            <div class="information">
              <i class="fa-brands fa-square-instagram"></i>
              <a
                href="https://www.instagram.com/noelia__lago?igsh=eTd6ZnRhaWc5ampy"
                target="_blank"
                >Instagram</a
              >
            </div>
          </div>
        </div>

        <div class="contact-form">
          <form
            action="https://formsubmit.co/noelagoserrano2d@gmail.com"
            method="POST"
          >
            <h3 class="title">Hablame ;-)</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" />
              <label for="">Nombre y apellidos</label>
              <span>Nombre y apellidos</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" />
              <label for="">Teléfono de contacto</label>
              <span>Teléfono de contacto</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Mensaje</label>
              <span>Mensaje</span>
            </div>
            <div class="cv-download">
              <input type="submit" value="Enviar" class="btn" />
              <a href="../assets/portada.jpg" download>
                <i class="bi bi-download"></i>
                Descarga mi CV
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="../js/contactme.js"></script>
  </body>
</html>
