<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contáctame</title>
        <link rel="icon" type="image/png" href="../assets/icon.png" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../styles/photogallery.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html" class="nlstitle">NLS</a>
                <a href="./contactme.html">Contacto</a>
                <a
                    href="https://www.linkedin.com/in/noelia-lago-serrano-aaa882200?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    target="_blank"
                    ><i class="bi bi-linkedin"></i
                ></a>
                <a
                    href="https://www.instagram.com/noelia__lago?igsh=eTd6ZnRhaWc5ampy"
                    target="_blank"
                    ><i class="bi bi-instagram"></i
                ></a>
            </nav>
        </header>

        <div class="container">
            <h1>Retratos</h1>
            <div class="image-container">
                <div class="image">
                    <img src="../assets/photography/retrato1.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/retrato2.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/retrato3.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/retrato4.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/retrato5.jpg" alt="" />
                </div>
            </div>
            <h1>Paisajes</h1>
            <div class="image-container">
                <div class="image">
                    <img src="../assets/photography/paisaje1.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/paisaje2.jpg" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/paisaje3.jpg" alt="" />
                </div>
            </div>
            <h1>Foto fija 'El Ático'</h1>
            <div class="image-container">
                <div class="image">
                    <img src="../assets/photography/elatico1.JPEG" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/elatico2.JPEG" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/elatico3.JPEG" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/elatico4.JPEG" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/elatico5.JPEG" alt="" />
                </div>
                <div class="image">
                    <img src="../assets/photography/elatico6.JPEG" alt="" />
                </div>
            </div>
            <h1>Foto fija 'Cargando con el muerto'</h1>
            <div class="image-container">
                <div class="image-container">
                    <div class="image">
                        <img src="../assets/photography/cargando1.jpg" alt="" />
                    </div>
                    <div class="image">
                        <img src="../assets/photography/cargando2.jpg" alt="" />
                    </div>
                    <div class="image">
                        <img src="../assets/photography/cargando3.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="popup-image">
                <span>&times;</span>
                <img src="" alt="" />
            </div>
        </div>

        <script src="../js/photogallery.js"></script>
    </body>
</html>
