<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Videos</title>
        <link rel="icon" type="image/png" href="../assets/icon.png" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../styles/videogallery.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html" class="nlstitle">NLS</a>
                <a href="../templates/contactme.html">Contacto</a>
                <a
                    href="https://www.linkedin.com/in/noelia-lago-serrano-aaa882200?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    target="_blank"
                    ><i class="bi bi-linkedin"></i
                ></a>
                <a
                    href="https://www.instagram.com/noelia__lago?igsh=eTd6ZnRhaWc5ampy"
                    target="_blank"
                    ><i class="bi bi-instagram"></i
                ></a>
            </nav>
        </header>

        <div class="container">
            <div class="video">
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/LQlAWTdUWUA?si=T_ggLNbdjcSAO-gP"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                ></iframe>
            </div>
            <div class="video">
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/8-oobtU6TBk?si=yHwh8ojIweVB5c3S"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                ></iframe>
            </div>
        </div>

        <script src="../js/videogallery.js"></script>
    </body>
</html>
