@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Mulish", sans-serif;
    font-weight: normal;
}

body {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

header {
    width: 1140px;
    max-width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a {
    color: black;
    margin-right: 40px;
}

.nlstitle {
    font-size: large;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin: 0;
}

.video {
    position: relative;
    width: 90%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin-top: 3rem;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video .title {
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}
